html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #5f3488;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p{
  color: aliceblue;
}

h1{
  color: aliceblue;
}

.container{
  padding: 0 5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #5f3488;
}

.card{
  background-color: #933db5 !important;
}

.grid{
  box-shadow: 5% #4f1c82;
  display: flex;
  justify-content: center;
}

.menubar{
  background-color: #ce577d !important;
  border: #4f1c82 !important;
}

.footer-buttons{
  display: flex;
  justify-content: flex-end;
}

.search-input{
  background-color: #de668c !important;
  border: #4f1c82 !important;
}

.editor{
  background-color: #ce577d !important;
  border-radius: 50px;
  text-align: center;
  padding-top: 1%;
}

.ql-editor{
  background-color: #643b45 !important;
  border-bottom-right-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.p-editor-toolbar  {
  background-color: #b22459 !important;
  font-size: large !important;
}

.p-editor-content{
  border: #4f1c82 !important;
}

.article{
  display: flex;
  justify-content: center;
}

.picture{
  border-radius: 50px;
  display: flex;
  width: 500px; 
  height: 500px; 
  justify-content: center;
  object-fit: cover;
}

@media screen and (min-width: 0px) and (max-width: 516px) {
  .picture { 
    width: 300px; 
    height: 300px; 
  }  
  
  .container {
    padding: 0 0rem;
  }
}


.info{
  font-size: 120%;
}

.user-info{
  color: rgb(237, 165, 165);
  margin-top: -3%;
}

#nombre{
  font-size: 350% !important;
}

#statusBanner{
  background-color: rgb(232, 78, 78);
}
